body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav li {
  list-style: none;
}

.App {
  padding: 5em;
}

.todo {
  border: dotted blue 2px;
  margin-bottom: 1em;
  padding: 1em;
}

.todo-title {
  font-size: 2rem;
  text-align: center;
  color: navy;
  text-transform: uppercase;
}
